<div class="show-title">
  <h5>Book was successfully created.</h5>
</div>

<div class="show-deta-title">
  <h4>Title:</h4>
  <%= @book.title %>
</div>

<dib class="show-data-body">
  <h4>Body:</h4>
  <%= @book.body %>
</dib>

<div class="show-menu">
 <p>
  <a href="<%= edit_book_path(@book) %>">Edit</a>
  <span>|</span>
  <a href="https://ec66306f3b964e1e9318c7feafb862e5.vfs.cloud9.ap-northeast-1.amazonaws.com/books/new">Back</a>
 </p>
</div>


