<div class="hello-title">
 <h1>ようこそ<strong>Bookers</strong>へ!</h1>
</div>

<div class="hello-text1">
  <strong>Bookers</strong><span> では、さまざまな書籍に関するあなたの意見や</span>
</div>

<div class="hello-text2">
  <p>印象を共有し交換することができます</p>
</div>
 
<div class="hello-start">
 <%= link_to "start", index_book_path %>  <!--indexへ遷移-->
</div>

