// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

//showのレイアウト
.show-title{
  color:green;
  margin:30px 0px 0px 60px;
}

.show-deta-title, .show-data-body{
  display:flex;
  margin:30px 0px 30px 60px;
}

.show-menu{
margin-left:30px;
}

// editのcss
.edit-title{
  font-family: verdana, arial, helvetica, sans-serif;
  margin:30px 0px 10px 30px;
}

// editエラーのcss
.edit-error{
  width:500px;
  height:150px;
  background-color:#EEE;
  border:2.5px solid red;
  margin:10px 0px 20px 30px;
}

.edit-error-text{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:20px;
  color:white;
  padding:5px 0px 5px 10px;
  background-color:#CC0000;
}

.edit-error-code{
  height:119px;
  marign-left:200px
}

.edit-error-message{
  margin-left:90px;
  margin-top:40px;
}

li{
  list-style-type:square;
}

.error-red-5{
  width:35px;
  height:21px;
  background-color:red;
  margin-top:54px;
  margin-left:-4px;

}

.error-red-6{
  width:147px;
  height:24px;
  background-color:red;
  margin-left:-4px
}

.error-red-7{
  width:41px;
  height:22px;
  background-color:red;
  margin-top:8px;
  margin-left:-4px;
}

.error-red-8{
  width:147px;
  height:28px;
  background-color:red;
  margin-left:-4px
}

.edit-text-title{
  margin:0px 0px 10px 30px;
}

.edit-text-body{
  margin:0px 0px 0px 30px;
}

.edit-ok{
  white-space: pre-wrap;
  margin:-15px 0px 0px 15px;
}

.edit-jump-w{
  margin:10px 0px 0px 15px;
}



//indexのレイアウト
.destroy-flash{
  margin:40px 0px 0px 75px;
}

.destroy-flash{
  color:green;
}

.new-large{
  font-family: verdana, arial, helvetica, sans-serif;
  margin:30px 0px 20px 30px;
}

.new-table{
  display:flex;
  margin-left:30px;
}

.new-log{
  display:flex;
}

.new-show, .new-edit, .new-destroy{
  margin-left:10px;
}

// バリデーションのcss
.test-me{
  margin:20px 20px 5px 35px;
}
// text-iは記述しません

.show-jump{
  margin-left:10px;
  color:black;
}

.edit-jump{
  color:black;
}

.destroy{
  color:black;
}


// 新規投稿のcss
.new-book{
  font-family: verdana, arial, helvetica, sans-serif;
  margin:30px 0px 20px 30px;
}

.new-for-title{
  margin:0px 0px 10px 30px;
}

.new-for-body{
  margin:0px 0px 0px 30px;
}

.new-for-create{
  margin:10px 0px 0px 30px;
}

// エラーのcss
.new-error{
  width:500px;
  height:150px;
  background-color:#EEE;
  border:2.5px solid red;
  margin:10px 0px 20px 30px;
}

.new-error-text{
  font-family: verdana, arial, helvetica, sans-serif;
  color:white;
  padding:5px 0px 5px 10px;
  background-color:#CC0000;
}

.new-error-code{
  height:119px;
  marign-left:200px
}

.new-error-message{
  margin-left:90px;
  margin-top:40px;
}

li{
  list-style-type:square;
}

.error-red-1{
  width:40px;
  height:28px;
  background-color:red;
  margin-top:54px;
  margin-left:-4px;

}

.error-red-2{
  width:147px;
  height:25px;
  background-color:red;
  margin-left:-4px
}

.error-red-3{
  width:45px;
  height:22px;
  background-color:red;
  margin-top:8px;
  margin-left:-4px;
}

.error-red-4{
  width:158px;
  height:48px;
  background-color:red;
  margin-left:-4px
}